<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  
  <script src="js/wavesurfer.min.js"></script>
  <script src="js/wavesurfer.timeline.js"></script>
  <script src="js/keymix.js"></script>
  </head>

  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="waveform"></div>
    <div id="wave-timeline">
    </div>
    <div id="progress-ndr">
    	<div class="progress-bar"></div>
    </div>
  </body>
</html>
